In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('bangluru_housing.csv')

In [3]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
x=df.iloc[:,1:]
y=df.iloc[:,0]

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
sc = StandardScaler()
x = sc.fit_transform(x)
x

array([[-0.39873715, -1.44746357, -0.97983502, ..., -0.30607896,
        -0.9433552 , -0.26071541],
       [-0.39873715,  0.1756067 ,  0.53363434, ..., -0.74634143,
        -0.43268619, -0.18786773],
       [-1.47395936, -1.44746357, -1.42625404, ..., -0.13565477,
         1.07013975, -0.17237524],
       ...,
       [-1.47395936, -1.77207762, -1.15404732, ..., -0.60432128,
        -1.41025258, -0.39414129],
       [-0.39873715,  0.50022075, -0.52252773, ...,  1.02891048,
        -0.8412214 , -0.42051149],
       [-1.47395936, -1.77207762, -1.15404732, ..., -0.60432128,
        -1.41025258, -0.41794772]])

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [10]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
svr = SVR()

In [11]:
estimators = [('lr',lr),('dt',dt),('svr',svr)]

In [12]:
for estimator in estimators:
    scores = cross_val_score(estimator[1],x,y,scoring='r2',cv=10)
    print(estimator[0],np.round(np.mean(scores),2))

lr 0.7
dt 0.75
svr -0.06

In [13]:
from sklearn.ensemble import VotingRegressor

In [14]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr,x,y,scoring='r2',cv=10)
print("voting Regression ",np.round(np.mean(scores),2))

voting Regression  0.71

In [15]:
dt1 = DecisionTreeRegressor(max_depth=1)
dt2 = DecisionTreeRegressor(max_depth=3)
dt3 = DecisionTreeRegressor(max_depth=5)
dt4 = DecisionTreeRegressor(max_depth=7)
dt5 = DecisionTreeRegressor(max_depth=None)

In [16]:
estimators = [('dt1',dt1),('dt2',dt2),('dt3',dt3),('dt4',dt4),('dt5',dt5)]

In [17]:
for estimator in estimators:
    scores = cross_val_score(estimator[1],x,y,scoring='r2',cv=10)
    print(estimator[0],np.round(np.mean(scores),2))

dt1 0.32
dt2 0.58
dt3 0.69
dt4 0.76
dt5 0.74

In [18]:
vr1 = VotingRegressor(estimators)
scores = cross_val_score(vr1,x,y,scoring='r2',cv=10)
print("voting Regression ",np.round(np.mean(scores),2))

voting Regression  0.75